div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}
